[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Environment=ZOO_LOG_DIR=/zookeeper/logs
SyslogIdentifier=zookeeper
Type=simple
User=zookeeper
Group=zookeeper
WorkingDirectory=/etc/apache-zookeeper-3.6.1-bin
ExecStart=/etc/apache-zookeeper-3.6.1-bin/bin/zkServer.sh start-foreground /etc/apache-zookeeper-3.6.1-bin/conf/zoo.cfg
ExecStop=/etc/apache-zookeeper-3.6.1-bin/bin/zkServer.sh stop /etc/apache-zookeeper-3.6.1-bin/conf/zoo.cfg
ExecReload=/etc/apache-zookeeper-3.6.1-bin/bin/zkServer.sh restart /etc/apache-zookeeper-3.6.1-bin/conf/zoo.cfg

[Install]
WantedBy=default.target