[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
User=zookeeper
Group=zookeeper
WorkingDirectory=/opt/zookeeper
ExecStart=/etc/apache-zookeeper-3.6.0-bin/bin/zkServer.sh start-foreground /opt/zookeeper/conf/zoo.cfg
ExecStop=/etc/apache-zookeeper-3.6.0-bin/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
ExecReload=/etc/apache-zookeeper-3.6.0-bin/bin/zkServer.sh restart /opt/zookeeper/conf/zoo.cfg

[Install]
WantedBy=default.target